.row {
    margin: auto;
}

@media screen and (max-width:1300px) {
    .nav h1 {
        color: blue;
    }
    .mainNameContainer {
        padding-top: 15vh;
        padding-left: 15vw;
    }
}

@media screen and (max-width:1150px) {
    .nav h1 {
        color: blue;
    }
    .instaBtn {
        margin-top: 1vh;
    }
    .header {
        padding-bottom: 3vh;
    }
    .navActive {
        margin-left: 35vw;
    }
    .aboutDescription {
        padding-top: 8vh;
    }
    .myProjectsH5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1000px) {
    .nav h1 {
        color: blue;
    }
    .header h1 {
        font-size: 3rem;
    }
    .header h2 {
        font-size: 2rem;
    }
    .nav p {
        margin-top: 4vh;
    }
    .mainNameContainer {
        padding-top: 10vh;
    }
    .navActive {
        margin-left: 30vw;
    }
    .aboutDescription {
        padding-top: 5vh;
    }
    .myProjectsH5 {
        font-size: 1rem;
        max-width: 80%;
    }
}

@media screen and (max-width:850px) {
    .nav h1 {
        color: blue;
    }
    .header h1 {
        font-size: 2.5rem;
    }
    .header h2 {
        font-size: 1.5rem;
    }
    .nav p {
        margin-top: 4vh;
    }
    .mainNameContainer {
        padding-top: 6vh;
    }
    .navActive {
        margin-left: 20vw;
    }
    .aboutDescription {
        padding-top: 0vh;
        font-size: .9rem;
    }
    .myProjectsH5 {
        font-size: 1rem;
        max-width: 80%;
    }
}

@media screen and (max-width: 780px) {
    .nav h1 {
        color: blue;
        margin: auto;
        position: relative;
        right: 10vw;
    }
    .navP {
        position: relative;
        padding-top: 0vh;
        margin-top: 0vh;
        display: flex;
        margin: auto;
        right: 9vw;
    }
    .header {
        padding-top: 18vh;
    }
    .header h1 {
        font-size: 2.5rem;
    }
    .header h2 {
        font-size: 1.5rem;
    }
    .header1 {
        order: 2;
    }
    .header2 {
        order: 1;
    }
    .nav p {
        margin-top: 4vh;
    }
    .mainNameContainer {
        padding-top: 6vh;
        padding-left: 10%;
        text-align: center;
    }
    .mainImg {
        width: 50vw;
    }
    .instaBtn {
        position: relative;
        top: -.5vh;
    }
    .navActive {
        margin-left: 18vw;
    }
    .aboutMe h3 {
        padding-bottom: 1vh;
    }
    .aboutDescription {
        padding-top: 0vh;
        font-size: .9rem;
    }
    .aboutSlideDiv {
        max-width: 70vw;
    }
    .aboutSlideMainDiv {
        padding-top: 3vh;
        margin-left: 15vw;
        padding-right: 15vw;
    }
    .aboutMeImages {
        display: block;
        max-width: 35vw;
        margin: auto;
    }
    .myProjects {
        padding-top: 6vh;
    }
    .myProjects h3 {
        margin-left: 15vw;
        padding-bottom: 6vh;
    }
    .myProjectsH5 {
        width: 100%;
        font-size: 1rem;
    }
    .myProjects img {
        max-width: 25vw;
        display: block;
        margin: auto;
    }
    .myProjectsDiv p {
        padding-left: 10vw;
    }
}

@media screen and (max-width: 600px) {
    .nav h1 {
        position: relative;
        color: blue;
        margin: auto;
        right: 10vw;
    }
    .navP {
        position: relative;
        padding-top: 0vh;
        margin-top: 0vh;
        display: flex;
        margin: auto;
        right: 10vw;
    }
    .header {
        padding-top: 20vh;
    }
    .aboutMeImages {
        display: block;
        max-width: 55vw;
        margin: auto;
    }
    .contactIcon1 {
        font-size: 3rem;
    }
    .contactIcon2 {
        font-size: 3rem;
    }
    .contactIcon3 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .nav h1 {
        position: relative;
        color: blue;
        margin: auto;
        right: 10vw;
    }
    .mainImg {
        width: 60vw;
    }
    .contactIcon1 {
        font-size: 2rem;
    }
    .contactIcon2 {
        font-size: 2rem;
    }
    .contactIcon3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .a {
        font-size: 0.8rem;
    }
    .navP {
        margin: auto;
        text-align: center;
    }
    .contactMe h3 {
        text-align: center;
        margin-bottom: 3vh;
    }
    .contactMeDiv {
        margin-left: 3vw;
    }
    .contactMeDiv h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 380px) {
    .a {
        font-size: 0.6rem;
    }
    .navP {
        margin: auto;
        text-align: center;
    }
    .contactMe h3 {
        text-align: center;
        margin-bottom: 3vh;
    }
    .contactMeDiv {
        margin-left: 3vw;
    }
    .contactMeDiv h5 {
        font-size: 1rem;
    }
}